.projects{
    min-width: 90vw;
    min-height: 90vh;
    .container{
        position:relative;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        label{
            width: 15%;
            display: inline-block;
            color: white;
            text-transform: uppercase;
            padding: 10px 0;
            margin: 0 8px;
            margin-top: 30px;
            margin-bottom: 30px;
            cursor: pointer;
        }
        input[type="radio"]{
            display: none;
            &:checked + label{
                border-bottom: 2px solid white;
            }
            &:hover + label{
                border-bottom: 2px solid white;
            }
        }
        input[type="radio"][id="webdesign"]:checked ~ .project-cards .videos,
        input[type="radio"][id="webdesign"]:checked ~ .project-cards .posters{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition:all 0.5s;
        }
        input[type="radio"][id="videos"]:checked ~ .project-cards .webdesign,
        input[type="radio"][id="videos"]:checked ~ .project-cards .posters{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition:all 0.5s;
        }
        input[type="radio"][id="posters"]:checked ~ .project-cards .webdesign,
        input[type="radio"][id="posters"]:checked ~ .project-cards .videos{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: all 0.5s;
        }
        
        .project-cards{
            display: flex;
            flex-wrap: wrap;
            direction: row;
            .project-card {
                width: 30%;
                height: 300px;
                float: left;
                margin: 1%;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }
                .project-info {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color:white;
                    align-items: center;
                    h3{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 12px;
                        text-align: center;
                        text-transform: uppercase;
                        color:  #219EBC;
                        transition:all .5s ease;
                        &:hover{
                            font-size: 15px;
                        }
                    }
                }
                &:hover .project-info{
                    opacity: 0.8;
                }
            }
            .clr{
                clear: both;
            }
        }
    }
    
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
    &-wrap{
        transform: scale(0.6);
        transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
        .popup-img{
            margin: auto;
            display: block;
            .vertical{
                width: 80%;
            }
            .horizontal{
                width: 100%;
            }
        }
    }
    &-inner {
      position: relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      width: 60%;
      height: 80%;
      transform: rotate(32deg);
      transition: .64s ease-in-out;
    }
    &-photo {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      background-color: white;
      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #0A0A0A;
      }
      p, a, i {
        font-size: .875rem;
        color: #686868;
        line-height: 1.5;
        margin-top: 10px;
      }
      a:hover{
        color: #4e4e4e;
      }

    }
    &-close {
        position: absolute;
        right: 20px;
        top: 10px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
  }    
}
@media only screen and (max-width: 700px) {
    .projects{
        .container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            label{
                width: 50%;
                // flex: 30%;
                margin-top: 1%;
                margin-bottom: 1%;
            }
            .project-cards{
                // display: flex;
                // flex-wrap: wrap;
                justify-content: center;                
                .project-card {
                    flex: 43%;
                }
            }
                
        }
    }
  }
  
  @media only screen and (max-width: 500px) {
    .projects{
        .container{
            label{
                flex: 50%;    
            }
            .project-cards {
                .project-card {
                flex: 100%;
                }
            }
        }
    }
  }
