    // .projects{
    //     min-width: 90vw;
    //     margin: 20px 0;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    //     //     min-height: 90vh;
    //     .title{
    //         width: 100%;
    //         background-color: rgba(255, 255, 255, 0.9);
    //         h2{
    //             margin-left: 30px;
    //             font-size: 25px;
    //             color: #219EBC;
    //             text-transform: uppercase;
    //             text-shadow: 0 3px 3px rgba(0, 0, 0, 0.212);
    //         }
    //     }
        
        
    //     .project-cards{
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: center;
    //         .project-card {
    //             width: 30%;
    //             height: 300px;
    //             float: left;
    //             margin: 1%;
    //             position: relative;
    //             overflow: hidden;
    //             box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    //             img {
    //                 width: 100%;
    //                 height: 100%;
    //                 object-fit: cover;
    //                 transition: 0.5s;
    //             }
    //             .project-info {
    //                 position: absolute;
    //                 top: 0;
    //                 bottom: 0;
    //                 left: 0;
    //                 right: 0;
    //                 height: 100%;
    //                 width: 100%;
    //                 opacity: 0;
    //                 transition: .5s ease;
    //                 background-color:white;
    //                 align-items: center;
    //                 h3{
    //                     position: absolute;
    //                     top: 50%;
    //                     left: 50%;
    //                     transform: translate(-50%, -50%);
    //                     font-size: 12px;
    //                     text-align: center;
    //                     text-transform: uppercase;
    //                     color:  #219EBC;
    //                     text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.212);
    //                     transition:all .5s ease;
    //                     &:hover{
    //                         font-size: 15px;
    //                     }
    //                 }
    //             }
    //             &:hover .project-info{
    //                 opacity: 0.8;
    //             }
    //             &:hover{
    //             box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.245);
                
    //             }
    //         }
    //     }
    // }
$work-bg: #6FB3B8;
#work{
    // background-color: $work-bg;

    h1{
        padding: 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
    }
    .web-card, .video-card, .design-card{
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        width: 100%;
        height: 400px;
        padding: 20px;
        // margin-bottom: 40px;
    }
    .web-card{
        &-photo {
            flex: 60%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
                &:hover{
                    filter: brightness(80%);
                    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15)
                }
            }
        }
        &-title{
            flex: 40%;
            margin: 20px;
            color: #6FB3B8;

        }
    }
    .video-card{
        &-photo {
            position: relative;
            flex: 60%;
            height: 100%;
            background-color: #0A0A0A;
            &#order1{
                order: 1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.9;
                cursor: pointer;
                &:hover{
                    filter: brightness(50%);
                    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15)
                }
            }
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                transition:all 0.5s ease-in;
                cursor: pointer;
            }
            &:hover i{
                font-size: 60px;
            }
        }
        &-title{
            flex: 40%;
            margin: 20px;
            &#order2{
                order: 2;
            }
        }
    }

    .design-card{
        &-photo {
            flex: 60%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
                &:hover{
                    filter: brightness(80%);
                    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15)
                }
            }
            &#order1{
                order: 1;
            }
        }
        &-title{
            flex: 40%;
            margin: 20px;

            &#order2{
                order: 2;
            }
        }
    }
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
    &-wrap{
        position: relative;
        bottom: -100vw;
        right: -100vh;
        transform: rotate(32deg);
        transition:all .64s ease-in-out;
     
            .popup-photo{
                .horizontal{
                    width: 80%;
                    height: auto;
                }
                .vertical{
                    height: 80vh;
                    width: auto;
                }
                
            }
            .vertical{
                width: 80%;
            }
            .horizontal{
                width: 100%;
            }
        
    }
    &-inner {
      position: relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      width: 60%;
      height: 80%;
      transform: rotate(32deg);
      transition: .64s ease-in-out;
    }
    &-photo {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      background-color: white;
      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #0A0A0A;
      }
      p, a, i{
        font-size: .875rem;
        color: #686868;
        line-height: 1.5;
        margin: 10px;
        text-align: center;
      }
      a:hover{
        color: #4e4e4e;
      }

    }
    &-close {
        position: absolute;
        right: 20px;
        top: 10px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
  }    

.display-popup{
    bottom:0;
    right: 0;
    transform: rotate(0);
}

@media only screen and (max-width: 700px) {
    #work{
        .web-card,  .video-card, .design-card{
            flex-direction: column;
           
        }
        .video-card , .design-card, .web-card{
            align-items: flex-start;
            &-photo{
                &#order1{
                    order: 2;
                }
            }
            &-title{
                flex: 0%;
                margin:0;
                &#order2{
                    order: 1;
                }
            }
        }
        
    }
   
        .popup{
            &-inner{
                width: 90%;
                flex-direction: column;
                .popup-photo{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
  
  
  @media only screen and (max-width: 500px) {
    .projects{
            .project-cards {
                .project-card {
                flex: 100%;
                }
            }
    }
  }
